<div class="container-fluid">
  <h2>Mangage Category</h2>
  <br>
  <a class="create" (click)="onCreate()">
      <button type="button" class="btn btn-primary" >
          Add Category
      </button>
  </a>
  <br>
  <input [(ngModel)]="searchText" placeholder="Search Category Name..." style="width: 30%;margin-top: 10px;margin-left: 36px" class="advancedSearchTextbox form-control">
    <hr>
      <select (change)="selectOption($event.target.value)"
      [(ngModel)]="selected">
        <option [value]="show.id" *ngFor="let show of options" (click)="optionshow()">
          {{show.value}}
        </option>
      </select>
      <table class="table table-bordered table-hover text-center" >
        <tr ngclass="btn-primary">
          <th class="tbl2">ID Category</th>
          <th class="tbl2">Category Name</th>
          <th class="tbl2">Action</th>
        </tr>
        <tr *ngFor="let cate of allCategory | async | grdFilter: {categoryname: searchText, blog: searchText}  | paginate: { itemsPerPage: item, currentPage: p }">
          <td class="tbl2">{{cate.categoryid}}</td>
          <td class="tbl2">{{cate.categoryname}}</td>
          <td class="tbl2">
            <button type="button"  (click)="onEdit(cate)" class="btn btn-warning">Edit</button>
            <button type="button" (click)="deleteCategory(cate.categoryid)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


