<div class="container-fluid">
  <h2>Trainees List</h2>
  <br>
  <a class="create" (click)="onCreate()">
      <button  class="btn btn-primary">Add Account Trainees</button>
  </a>
  <br>
  <input [(ngModel)]="searchText" placeholder="Search.." style="width: 30%;margin-top: 10px;margin-left: 36px" class="advancedSearchTextbox form-control">
  <hr>
  <select (change)="selectOption($event.target.value)"
  [(ngModel)]="selected">
    <option [value]="show.id" *ngFor="let show of options" (click)="optionshow()">
      {{show.value}}
    </option>
  </select>
  <table class="table table-bordered table-hover text-center">
      <tr ngclass="btn-primary">
          <th class="tbl2">Traniee ID</th>
          <th class="tbl2">Full Name</th>
          <th class="tbl2">Email</th>
          <th class="tbl2">Phone</th>
          <th class="tbl2">Address</th>
          <th class="tbl2">Password</th>
          <th class="tbl2">Action</th>
      </tr>

      <tr *ngFor="let tra of allTrainee | async | grdFilter: {name: searchText, phone: searchText,  blog: searchText} | paginate: { itemsPerPage: item, currentPage: p }">
          <td class="tbl2">{{tra.traineeid }}</td>
          <td class="tbl2">{{tra.name}}</td>
          <td class="tbl2">{{tra.email}}</td>
          <td class="tbl2">{{tra.phone}}</td>
          <td class="tbl2">{{tra.address }}</td>
          <td class="tbl2">{{tra.password}}</td>
          <td>
            <button type="button"  (click)="onEdit(tra)" class="btn btn-warning">Edit</button>

            <button type="button" (click)="onDelete(tra.traineeid)" class="btn btn-danger">Delete</button>
          </td>
      </tr>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
